<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:solr="http://www.springframework.org/schema/data/solr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/solr http://www.springframework.org/schema/data/solr/spring-solr.xsd">

    <!-- 配置加载属性文件 -->
    <context:property-placeholder location="classpath:props/db.properties"/>

    <!-- 导入数据访问的配置文件 -->
    <import resource="classpath:applicationContext-mapper.xml"/>

    <!-- 配置开启组件扫描 -->
    <context:component-scan base-package="com.pinyougou.solr.util"/>


    <!-- ########### 配置spring-data-solr ############-->
    <!-- 配置Solr服务器 -->
    <solr:solr-server id="solrServer" url="http://192.168.12.131:8088/solr/collection1"/>

    <!-- 配置SolrTemplate -->
    <bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate">
        <constructor-arg name="solrServer" ref="solrServer"/>
    </bean>
</beans>