<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ########## 配置Spring-Data-Redis整合Jedis操作Redis数据库(单机版) ########## -->
    <!-- 配置连接工厂 -->
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!-- 连接Redis主机 -->
        <property name="hostName" value="${redis.host}"/>
        <!-- 连接Redis端口 -->
        <property name="port" value="${redis.port}"/>
    </bean>



    <!-- ########## 配置Spring-Data-Redis整合Jedis操作Redis数据库(集群版) ########## -->
    <!-- 配置属性源 -->
    <bean id="propertySource" class="org.springframework.core.io.support.ResourcePropertySource">
        <!-- 设置属性文件的位置 -->
        <constructor-arg name="location" value="classpath:props/redis-cluster.properties"/>
    </bean>
    <!-- 配置集群节点信息 -->
    <bean id="clusterConfig" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
        <!-- 设置集群节点用属性文件 -->
        <constructor-arg name="propertySource" ref="propertySource"/>
    </bean>
    <!-- 配置连接工厂 -->
    <!--<bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        &lt;!&ndash; 设置集群节点配置信息 &ndash;&gt;
        <constructor-arg name="clusterConfig" ref="clusterConfig"/>
    </bean>-->

    <!-- 配置redisTemplate操作Redis数据库 -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <!-- 设置连接工厂 -->
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>
</beans>